allow charger_monitor sysfs:file { open read getattr };
allow charger_monitor self:capability { dac_override };
allow charger_monitor sysfs_spmi_dev:dir search;
allow charger_monitor sysfs_spmi_dev:lnk_file r_file_perms;
allow charger_monitor power_wakelock_file:file rw_file_perms;
