allow init socket_device:sock_file create;
allow init socket_device:sock_file setattr;
allow init proc_touchpanel:file write;
allow init misc_logd_file:dir { remove_name };
allow init misc_logd_file:file { unlink };

set_prop(init, wcnss_prop)
